:root {
    --primary:#eb2f64;
    --primary_light:#ff3366;
    --primary_dark:#ba265d;

    --grey_light_1:#faf9f9;
    --grey_light_2:#f4f2f2;
    --grey_light_3:#f0eeee;
    --grey_light_4:#ccc;

    --grey_dark_1:#333;
    --grey_dark_2:#777;
    --grey_dark_3:#999;

    --shadow_dark:0 2rem 6rem rgba(0,0,0,0.3);

    --line:1px solid var(--grey_light_2);
}

